@model IEnumerable<DellaSantaStart.Core.CoursePath>

@{
    ViewBag.Title = "Home Page";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Course Paths</strong>
    </div>


    <table class="table table-hover table-striped table-condensed small">
        <tr>

            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.CoursePathName)
            </th>
            <th class="col-md-4">
                @Html.DisplayNameFor(model => model.Department)
            </th>
       

            @*<th class="col-md-1 text-center">
                @Html.DisplayNameFor(model => model.IsInstalled)
            </th>
            <th class="col-md-1">
                @Html.ActionLink("Create", "Create", "Parts",
                              new { workOrderId = ViewBag.WorkOrderId },
                              new { @class = "btn btn-primary btn-xs", data_modal = "parts" }
                )
            </th>*@
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CoursePathName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
             

                @*<td>
                    @Html.ActionLink("Edit", "Edit", "Parts"
                         , new { id = item.PartId, workOrderId = ViewBag.WorkOrderId }
                   , new { @class = "btn btn-default btn-xs", data_modal = "parts" }
                    ) |

                    @Html.ActionLink("Delete", "Delete", "Parts"
                         , new { id = item.PartId, workOrderId = ViewBag.WorkOrderId }
                   , new { @class = "btn btn-danger btn-xs", data_modal = "parts" }
                    )
                </td>*@
            </tr>
        }

    </table>
</div>


